@page
@model MenuModel
@{
    ViewData["Title"] = "Menu";
}


<div class="container mt-5">
    <div class="row">
        @foreach (var item in Model.Menu)
        {
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img class="card-img-top" src="@Url.Content("/css/Images/" + item.ImageFile)" alt="@item.Name" style="width:100%; height:auto;">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.Name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.Description)</p>
                        <p class="card-text"><strong>Price: </strong>@Html.DisplayFor(modelItem => item.Price)</p>
                        <a href="@Url.Action("AddToCart", "Cart", new { itemId = item.Id })" class="btn">Add to Cart</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function addToCart(itemName, itemPrice) {
        // Implement your add to cart logic here
        console.log("Added to cart: " + itemName + " - Price: " + itemPrice);
    }
</script>


